<div class="content">
   <div class="container-fluid">
      <div class="row">

         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <h3 class="title text-center">History Deposit
                  </h3>
               </div>
               <div class="content">
                   <div  id="your_deposit">
                                
                     <div class="no-transaction text-center">
                       
                        <h4>No transactions</h4>
                       
                     </div>
                    
                  </div>
               </div>
            </div>
         </div>
      

         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <h3 class="title text-center">History Withdraw
                  </h3>
               </div>
               <div class="content">
                  <div id="your_withdraw">
                         
                     <div class="no-transaction text-center">
                        
                        <h4>No transactions</h4>
                      
                     </div>
                  </div>
               </div>
            </div>
         </div>

                  
               </div>
            </div>
         </div>
      </div>
   </div>
</div>