<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <h4 class="title">Invite Friends
                  </h4>
               </div>
               <div class="content invte_firends">
                  <div class="item-invte text-center">
                     <img src="/assets/img/Medium-Rectangle.png"/>
                     <textarea><a href="https://bitbeeline.co:5969/?affiliate={{sponsor_mail}}"><img src="https://bitbeeline.co/img/Medium-Rectangle.png" /></a></textarea>
                     
                  </div>

                  <div class="item-invte text-center">
                     <img src="/assets/img/Leaderboard.png"/>
                     <textarea><a href="https://bitbeeline.co:5969/?affiliate={{sponsor_mail}}"><img src="https://bitbeeline.co/img/Leaderboard.png" /></a></textarea>
                     
                  </div>

                  <div class="item-invte text-center">
                     <img src="/assets/img/Facebook-AD-Medium.png"/>
                     <textarea><a href="https://bitbeeline.co:5969/?affiliate={{sponsor_mail}}"><img src="https://bitbeeline.co/img/Facebook-AD-Medium.png" /></a></textarea>
                     
                  </div>

                  <div class="item-invte text-center">
                     <img src="/assets/img/Wide-Skyscraper.png"/>
                     <textarea><a href="https://bitbeeline.co:5969/?affiliate={{sponsor_mail}}"><img src="https://bitbeeline.co/img/Wide-Skyscraper.png" /></a></textarea>
                     
                  </div>
               
               </div>
            </div>
         </div>
      </div>
   </div>
</div>