<div class="form">
   <div class="tab-content">
      <div id="login">
         <div class="text-center">
            <img style="margin: 0 auto; display: block; margin-bottom: 45px;" class="responsive-img logo" width="150" src="../images/logo.png" alt="">
         </div>
         <form id="frmForgot" method="post" novalidate>
            <div class="field-wrap">
            	<input type="text" name="email" id="email" class="form-control" required placeholder="Please enter your email" autocomplete="off"/>
            </div>

            <div class="center_capcha" style="margin-top: -10px;">
               <div class="g-recaptcha" data-sitekey="6LfTIDYUAAAAAIscAJ-qcY2EkCCZLfGK3O6FPnSj"></div>
            </div>
            <button type="submit" class="button button-block"/>Log In</button>
            <div style="text-align: center;margin-top: 15px;color: #fff">
               <a href="/register">Don't have an account?</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="/login">Login?</a> 
            </div>
         </form>
      </div>
      <div style="clear: both;"></div>
   </div>
</div>