<div class="form">
   <div class="tab-content">
      <div id="login">
         <div class="text-center">
            <img style="margin: 0 auto; display: block; margin-bottom: 45px;" class="responsive-img logo" width="150" src="../images/logo.png" alt="">
         </div>
         <form id="frmLogin" method="post" novalidate>
            <div class="field-wrap">
               <input type="text" name="email" id="email" class="form-control" autocomplete="off" required placeholder="Email Address"/>
            </div>
            <div class="field-wrap">
               <input type="password" name="password" id="password" class="form-control" required placeholder="Please enter your password." />
            </div>
            <div class="center_capcha" style="margin-top: -10px;">
               <div class="g-recaptcha" data-sitekey="6LfTIDYUAAAAAIscAJ-qcY2EkCCZLfGK3O6FPnSj"></div>
            </div>
            <button type="submit" class="button button-block"/>Log In</button>
            <div style="text-align: center;margin-top: 15px;color: #fff">
               <a href="/register">Don't have an account?</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="/forgot-password">Forgot password?</a> 
            </div>
         </form>
         <div class="text-center" id="download">
          
           <div class="social" style="margin-top: 15px;"> 
              <a href="https://www.facebook.com/LENCOIN/" target="_blank"><i class="fa fa-facebook"></i></a>
               <a href="https://t.me/lencoin" target="_blank"><i class="fa fa-telegram" style=" background: rgb(25, 134, 181); "></i></a>
              <a href="https://twitter.com/Lencoin1" target="_blank"><i class="fa fa-twitter"></i></a> 
              <a href="https://plus.google.com/u/0/108424539638376859016" target="_blank"><i class="fa fa-google-plus"></i></a> 
              <a href="#social"><i class="fa fa-youtube-play"></i></a> 
              
           </div>
           
        </div>
      </div>
      <div style="clear: both;"></div>
   </div>
</div>