<div class="" id="headers">
   <div class="header">
      <nav id="sticky-nav" class="navbar navbar-custom sticky navbar-center">
         <div class="container">
            <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="" href="/" id="logo-home"> <img src="img/logo1.png" alt="logo" class="img-responsive navbar-brand logo1"> <img src="img/logo2.png" alt="logo" class="img-responsive navbar-brand logo2"> <img src="img/logo3.png" alt="logo" class="img-responsive logo3"> </a> </div>
            <div class="collapse navbar-collapse" id="navigation-example">
               <ul class="nav navbar-nav navbar-right">
                  <li> <a href="/#" target="_blank">WhitePaper</a> </li>
                  <li> <a href="/">ICO</a> </li>
                  <li> <a href="/">Services</a> </li>
                  <li> <a href="https://bitbeeline.info" target="_blank">Wallet</a> </li>
                  <li> <a href="/">Download</a> </li>
                  <li> <a href="/register">Register</a> </li>
                  <li> <a href="/login">Login</a> </li>
               </ul>
            </div>
         </div>
      </nav>
   </div>
</div>
<section class="hero-ico" >
   <!-- <div class="ico-Container"> <div class="ico-row"> <div class="ico-hero-wrapper"> <div class="ico-hero-content"> --> 
   <div class="ico-header-wrapper">
   <div class="ico-header-title">
      <div class="lang ico-title" key="ico-title">BBL Initial Coin Offering (ICO) In Progress</div>
      <div id="clock" style="font-size: 30px;"> </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="guideimg" style="margin: 0 auto ;">
                <img src="/img/guide/Slide1.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide2.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide3.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide4.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide5.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide6.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide7.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide8.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide9.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide10.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide11.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide12.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
                <br>
                <img src="/img/guide/Slide13.PNG" alt="logo" style="width: 100%; margin: 0 auto ;" >
            </div>
        
         </div>
      </div>
    
    
      
   </div>

</section>

