<header id="main-header" class="main-header-ico" data-scroll-index="0">
   <div class="container">
      
      <div class="center-align">
         <h2>SALE STARTS IN</h2>
         <div class="apperle-count-down-wrapper">
            <div id="clockdiv">
               <div>
                  <span class="days"></span>
                  <div class="smalltext">Days</div>
               </div>
               <div>
                  <span class="hours"></span>
                  <div class="smalltext">Hours</div>
               </div>
               <div>
                  <span class="minutes"></span>
                  <div class="smalltext">Minutes</div>
               </div>
               <div>
                  <span class="seconds"></span>
                  <div class="smalltext">Seconds</div>
               </div>
            </div>
         </div>
         <div class="row pt-20">
            <h5>Funds raised</h5>
            <div id="myProgress">
               <div id="myBar" class="progress">
                  <div class="determinate" style="width: 70%">70%</div>
               </div>
            </div>
         </div>
         <div class="btn-register-landing" id="btn-join">PARTICIPATE ICO NOW</div>
         <br />
         <button type="button" class="btn btn-landing">READ WHITEPAPER</button>
         <button type="button" class="btn btn-landing">HOW TO CONTRIBUTE</button>
      
         <div class="show-on-xs">
            <div class="center-text"> </div>
            <div class="pv-20"></div>
            <div class="pv-20">
               
               <p class="clickable"></p>
            </div>
         </div>
      </div>
      <div class="row token-sale">
         <div class="col s12 center-align">
            <h3>ICO INFORMATION</h3>
         </div>
         <div class="col s12 m3 s6">
            <div class="progress blue">
               <span class="progress-left">
               <span class="progress-bar"></span> </span> <span class="progress-right">
               <span class="progress-bar"></span> </span>
               <div class="progress-value">90%</div>
            </div>

         </div>
         <div class="col s12 m3 s6">
            <div class="progress pink">
               <span class="progress-left">
               <span class="progress-bar"></span> </span> <span class="progress-right">
               <span class="progress-bar"></span> </span>
               <div class="progress-value">90%</div>
            </div>
         </div>
         <div class="col s12 m3 s6">
            <div class="progress yellow">
               <span class="progress-left">
               <span class="progress-bar"></span> </span> <span class="progress-right">
               <span class="progress-bar"></span> </span>
               <div class="progress-value">75%</div>
            </div>
         </div>
         <div class="col s12 m3 s6">
            <div class="progress green">
               <span class="progress-left">
               <span class="progress-bar"></span> </span> <span class="progress-right">
               <span class="progress-bar"></span> </span>
               <div class="progress-value">75%</div>
            </div>
         </div>
         <div class="clearfix"></div>
         
            <div class="col m12">
            <div id="ico-information">
            <div class="row">
               <div class="col m6">
                  <div class="diagram-list left-align">
                     <div class="item">
                        <span style="background-color:#7b2770"></span>
                        <b>60%</b> ICO investors
                     </div>
                     <div class="item">
                        <span style="background-color:#846ad0"></span>
                        <b>27,8%</b> Team
                     </div>
                     <div class="item">
                        <span style="background-color:#fd9827"></span>
                        <b>10%</b> Contributors motivation
                     </div>
                     <div class="item">
                        <span style="background-color:#11a587"></span>
                        <b>1%</b> Advisory Board
                     </div>
                     <div class="item">
                        <span style="background-color:#00bff3"></span>
                        <b>1,2%</b> Bounties
                     </div>
                  </div>
               </div>
               <div class="col m6">
                  <span><b>Token name:</b> LEC</span>
                  <span><b>Pre ICO:</b> 4 Dec 2017 – 30 Dec 2017</span>
                  <span><b>Main Token Sale:</b> 31 Oct 2017 – 30 Nov 2017</span>
                  <span><b>Tokens issued:</b> 2.5bln tokens</span>
                  <span><b>Total Sale:</b> 1.5bln tokens</span>
                  <span><b>Initial price per token:</b> 0.01 USD</span>
                  <span><b>Hard cap:</b> $10 mln</span>
               </div>
            </div>
             </div>
     
         </div>
      

      </div>
   </div>
</header>
<section id="footer" class="main-section center-align gradient-color">
   <div class="footer-main">
      <div class="footer-content p-t-3 left-align">
         <div class="container">
            <div class="row">
               <div class="about col s12 m6 l3">
                  <h5 class="p-b-2">About Us</h5>
                  <img class="responsive-img logo" src="images/logo.png" alt="logo image"> <br>
                  <p>Globalmadate coin (LEC) will open for sale at 6,000,000 LEC at 00h00 January 01, 2018 (HKT, +8)</p>
               </div>
               <!-- News -->
               <div class="news col s12 m6 l3">
                  <h5 class="p-b-2">News</h5>
                  <div class="row">
                     <div class="col s6">
                        <!-- Image --><a href="#">
                        <img class="responsive-img waves-effect" src="images/news/news4.jpg" alt="news image">
                        </a> 
                     </div>
                     <div class="col s6">
                        <!-- Title -->
                        <a href="#">
                           <p>Lorem ipsum dolor sit.</p>
                        </a>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col s6">
                        <!-- Image --><a href="#">
                        <img class="responsive-img waves-effect" src="images/news/news2.jpg" alt="news image">
                        </a> 
                     </div>
                     <div class="col s6">
                        <!-- Title -->
                        <a href="#">
                           <p>Lorem ipsum dolor sit.</p>
                        </a>
                     </div>
                  </div>
               </div>
               <!-- Tags -->
               <div class="tags col s12 m6 l3">
                  <h5 class="p-b-2">Tags</h5>
                  <a href="#" class="chip waves-effect"></a> <a href="#" class="chip waves-effect">Coin</a> <a href="#" class="chip waves-effect">Home</a> <a href="#" class="chip waves-effect">About</a> <a href="#" class="chip waves-effect">Login</a> <a href="#" class="chip waves-effect">Register</a> <a href="#" class="chip waves-effect">Download</a> <a href="#" class="chip waves-effect">News</a> <a href="#" class="chip waves-effect">ICO</a> <a href="#" class="chip waves-effect">Wallet</a> <a href="#" class="chip waves-effect">Lending</a> <a href="#" class="chip waves-effect">Apple</a> <a href="#" class="chip waves-effect">Articles</a> <a href="#" class="chip waves-effect">Android</a> <a href="#" class="chip waves-effect">Watch</a> 
               </div>
               <!-- Instagram Feed -->
               <div class="insta col s12 m6 l3">
                  <!-- Edit in Main.js -->
                  <h5 class="p-b-2">Instagram Feed</h5>
                  <ul class="instagram"></ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>